html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-size: var(--font-size);
  font-family: var(--font-family--normal);
  background-color: var(--app-bodybg);
  color: var(--app-textcolor);
}

a {
  color: var(--app-buttoncolor);
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: var(--color-link-hover);
}

p:not(:last-child),
ul:not(:last-child),
ol:not(:last-child),
dl:not(:last-child),
h2,
h3,
h4,
h5 {
  margin-bottom: var(--gap);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 900;
}

h1 {
  font-size: calc(var(--font-size) * 3);
  margin-bottom: calc(var(--gap) * 3);
}

h2 {
  font-size: calc(var(--font-size) * 2);
  margin-bottom: calc(var(--gap) * 2);
}

h3 {
  font-size: calc(var(--font-size) * 1.5);
  margin-bottom: calc(var(--gap) * 1.5);
}

h4 {
  font-size: calc(var(--font-size) * 1.4);
  margin-bottom: calc(var(--gap) * 1.5);
}

h5 {
  font-size: calc(var(--font-size) * 1.1);
  margin-bottom: calc(var(--gap) * 0.8);
}

p,
li {
  font-size: calc(var(--font-size) * 1.1);
}

@media (width < 800px) {
  h1 {
    font-size: calc(var(--font-size) * 2.3);
  }

  h2 {
    font-size: calc(var(--font-size) * 1.6);
    margin-bottom: calc(var(--gap) * 1.6);
  }

  h3 {
    font-size: calc(var(--font-size) * 1.3);
    margin-bottom: calc(var(--gap) * 1.3);
  }

  p,
  li {
    font-size: calc(var(--font-size) * 0.9);
  }
}

li,
dd {
  margin-bottom: calc(var(--gap) * 0.5);
}

hr {
  margin: calc(var(--gap) * 2) 0;
  border: 0.5px solid var(--app-bordercolor);
}

/* + FORMS, INPUTS */

input,
select,
textarea,
.button {
  background-color: var(--app-inputbg);
  border-radius: var(--app-inputbradius);
  border: var(--app-borderwidth) solid var(--app-bordercolor);
  box-sizing: border-box;
  color: var(--app-inputtextcolor);
  font-family: var(--font-family--normal);
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 1.2;
  padding: calc(var(--app-inputpadding) * 0.8) var(--app-inputpadding);
  transition-duration: 0.33s;
  transition-property: border, background-color;
  transition-timing-function: ease-in-out;
  text-decoration: none;
}

input {
  height: 40px;
}

/* Select text can get vertically clipped on some platforms when height is fixed */
select {
  height: auto;
  min-height: 40px;
}

input.block,
select.block,
textarea.block,
.button.block {
  display: block;
  width: 100%;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 19' style='enable-background:new 0 0 12 19;' xml:space='preserve'><path d='M6.8,0.3c-0.5-0.5-1.2-0.5-1.7,0L0.4,5.1c-0.5,0.5-0.5,1.2,0,1.7c0.5,0.5,1.2,0.5,1.7,0l4-3.9l4,3.9c0.5,0.5,1.2,0.5,1.7,0c0.5-0.5,0.5-1.2,0-1.7L6.8,0.3z M0.4,13.9l4.8,4.8c0.5,0.5,1.2,0.5,1.7,0l4.8-4.8c0.5-0.5,0.5-1.2,0-1.7c-0.5-0.5-1.2-0.5-1.7,0l-4,3.9l-4-3.9c-0.5-0.5-1.2-0.5-1.7,0C-0.1,12.7-0.1,13.4,0.4,13.9z'/></svg>");
  background-position-x: calc(100% - var(--app-inputpadding));
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: 0.5rem;
  padding-right: calc(var(--app-inputpadding) * 1.5 + 0.5rem);
  user-select: none;
  cursor: pointer;
}

select.select-link {
  --app-bordercolor: var(--color-link);
  --app-inputpadding: 0;
  --app-inputbradius: 0;
  --app-inputtextcolor: var(--color-link);

  background: none;
  border-width: 0 0 1px;
  display: inline-block;
  width: max-content;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
  --app-bordercolor: var(--color-navy);
}

textarea {
  min-height: 7rem;
  resize: none;
}

input[type="checkbox"] {
  border: var(--app-borderwidth) solid var(--app-bordercolor);
  height: calc(var(--app-inputheight) * 0.5);
  width: calc(var(--app-inputheight) * 0.5);
}

/* input[type=checkbox]:not(:last-child) {
  margin-right: calc(var(--gap) * .5);
} */

input[type="submit"],
.button,
.button:hover {
  background-color: var(--app-buttoncolor);
  border-color: var(--app-buttoncolor);
  color: var(--app-buttontextcolor);
}

.button {
  display: inline-block;
}

input[type="submit"]:not(:disabled):active,
.button:not(:disabled):active {
  --app-buttoncolor: var(--app-buttoncolor-active);
}
input[type="submit"]:not(:disabled):hover,
.button:not(:disabled):hover {
  --app-buttoncolor: var(--app-buttoncolor-hover);
}

select:not([disabled]),
input[type="submit"]:not([disabled]),
.button:not([disabled]) {
  cursor: pointer;
}

select:disabled,
input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button-green {
  --app-buttoncolor: var(--color-green);
}

.button-red {
  --app-buttoncolor: var(--color-red);
  --app-buttoncolor-hover: #cc0000; /* Более темный красный для hover */
  --app-buttoncolor-active: #990000; /* Еще более темный для active */
}

.button > *:not(:last-child) {
  margin-right: calc(var(--gap) * 0.5);
}

.button:disabled {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
  border-color: var(--color-light-gray);
  opacity: 0.5;
  pointer-events: none;
}

.button-outlined {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: var(--app-borderwidth) solid var(--app-bordercolor);
  border-radius: 5rem;
  color: var(--app-inputtextcolor);
  font-size: var(--font-size);
  font-weight: bold;
  background-color: var(--app-inputbg);
}

.button-round-outline.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.button-outlined:hover {
  background-color: transparent;
  color: var(--app-inputtextcolor);
  border-color: var(--app-inputtextcolor);
}

.button-round-outline,
.button-round-outline:hover {
  align-items: center;
  background-color: var(--app-inputbg);
  border-radius: 5rem;
  border: var(--app-borderwidth) solid var(--app-bordercolor);
  cursor: pointer;
  display: flex;
  height: var(--app-inputheight);
  justify-content: center;
  user-select: none;
  width: var(--app-inputheight);
  color: var(--app-inputtextcolor);
  font-size: var(--font-size);
  transition: all 0.2s linear;
  position: relative;
}

.button-round-outline-labeled,
.button-round-outline-labeled:hover {
  width: auto;
  padding: 0 0.5rem;
  gap: 0.5rem;
}

.button-round-outline-labeled span {
  /* font-size: calc(var(--font-size) * 0.8); */
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
  pointer-events: none;
}

.button-round-outline .svg-inline--fa path {
  fill: var(--app-inputtextcolor);
}

.button-round-outline__badge {
  font-size: 75%;
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-light);
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: pulse 2s infinite;
}

.button-round-outline__badge.blue {
  background-color: var(--color-blue);
}

.button-round-outline > *:not(:last-child) {
  margin-right: 0;
}

/* .button-round-outline:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
} */

/* .button-round-outline:hover .svg-inline--fa path {
  fill: var(--app-inputbg);
} */

label {
  font-weight: 700;
}

.label-line {
  display: flex;
  gap: calc(var(--gap) / 2);
  align-items: center;
}

/* - FORMS, INPUTS */

/* + POPOVER API */
/* [popover] {
} */

:popover-open {
  background-color: var(--app-popoverbg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: var(--app-inputbradius);
  border: none;
  inset: unset;
  padding: var(--gap);
}

[popovertarget] {
  transition: opacity 0.3s ease-in-out;
}

/* :popover-open ~ [popovertarget] {
  opacity: .6;
} */

:popover-open::backdrop {
  backdrop-filter: grayscale(1);
}

@supports not selector(:popover-open) {
  .popover {
    background-color: #fff;
    inset: unset;
    border: 0;
    padding: var(--gap);
  }
}
/* - POPOVER API */

/* + SCROLLABLE CONTENT */
.scrollable-y {
  overflow-y: auto;
  max-height: 100%;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #eaeaea;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #a5a5a5;
}
/* - SCROLLABLE CONTENT */

/* + FLEX */
.flexline {
  display: flex;
  gap: var(--gap);
  align-items: center;
}

.flexline.space-between {
  justify-content: space-between;
}

.flexline.align-start {
  align-items: start;
}

.flexline-i-right {
  margin-left: auto;
}
/* - FLEX */

/* + TEXT */
.clipoverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: fade(10px);
}

.textsmall {
  font-size: 0.8em;
}
/* - TEXT */

section:not(:last-child) {
  margin-bottom: var(--gap);
}

#app {
  position: relative;
  max-width: 100vw;
  min-height: 100svh;
}

#app.map {
  overflow: hidden;
}

.container {
  padding: calc(var(--gap) * 0.5) var(--gap);
}

.sensors-container {
  padding-top: 2rem;
  display: inline-flex;
  flex-direction: column;
}

@media screen and (max-width: 680px) {
  .sensors-container {
    display: flex;
  }
}

.title {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  transition: color 0.33s ease-in-out, background-color 0.33s ease-in-out;
}

.subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  font-family: var(--font-family--normal);
  transition: color 0.33s ease-in-out, background-color 0.33s ease-in-out;
}

.text {
  font-family: var(--font-family--normal);
  font-weight: normal;
  text-transform: none;
  line-height: 1.5;
  text-align: justify !important;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  transition: color 0.33s ease-in-out, background-color 0.33s ease-in-out;
}

.text-small {
  font-size: 0.8em;
}

.text-tip {
  margin-top: var(--gap);
  /* margin-bottom: calc(var(--gap) * 2); */
  font-family: var(--font-family--normal);
  /* font-size: 12px; */
  color: var(--color-dark);
  font-weight: 400;
  font-style: italic;
  text-transform: none;
}

.sensors-screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: color 0.33s ease-in-out, background-color 0.33s ease-in-out;
}

.sensors-screen-layers {
  display: flex;
  flex-direction: column;
  /* overflow-y: auto; */
  pointer-events: none;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transition: color 0.33s ease-in-out, background-color 0.33s ease-in-out;
}

.sensors-screen-layers--center {
  flex: 1 0 auto;
  position: relative;
}

/* CENTER PANELS */
*[class*="sensors-panel--center-"] {
  position: absolute;
  top: calc(var(--gap) * 5);
  bottom: var(--gap);
  z-index: 10;
  width: 48%;
}

.sensors-panel--center-right {
  right: var(--gap);
}

.sensors-panel--center-left {
  left: var(--gap);
}

*[class*="sensors-panel--center-"] .sensors-panel:not(:last-child) {
  margin-bottom: var(--gap);
}

/* MAP LOADING */

.dark .sensors-screen.loading {
  background-color: #424241;
}

.sensors-screen.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light);
  z-index: 9999;
}

.sensors-container .fa-compass {
  display: none;
}

.sensors-screen.loading .fa-spin {
  display: block;
  position: fixed;
  z-index: 100;
  top: calc(50% - 2rem);
  left: calc(50% - 2rem);
  font-size: 4rem;
  color: var(--color-link);
}
/* end of MAP LOADING */

/* POPUP */

.popup,
.popup-js {
  background-color: var(--color-light);
  color: var(--color-dark);
  display: none;
  opacity: 0;
  position: relative;
  transform: translateY(20px);
  transition: color 0.33s ease-in-out, background-color 0.33s ease-in-out;
}

.popup:target,
.popup-js.active {
  display: block;
  animation: popup 0.2s linear 0.2s forwards;
}

.popup-wrapper {
  position: absolute;
  top: calc(var(--gap) * 3);
  z-index: 10;
}

@keyframes popup {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.popup__close {
  color: var(--color-dark);
  font-size: calc(var(--gap) * 1.8);
  position: absolute;
  right: calc(var(--gap) * 0.5);
  top: calc(var(--gap) * 0.5);
  background-color: transparent;
}

.popup__close svg {
  display: block;
}

.popup__content {
  max-height: 500px;
  overflow-y: auto;
}

/* header popup styles */

.header .popup__content h3 {
  text-transform: none;
  margin-bottom: var(--gap);
}

.header .sensors-panel-top-nav-content h3 {
  margin-top: calc(var(--gap) * 1.5);
  margin-bottom: calc(var(--gap) * 0.5);
}

.sensors-panel-top-nav-content .nav__item {
  padding: 0.2rem 0;
  margin-bottom: 0;
}

.sensors-panel-top-nav-content .nav__link {
  font-family: var(--font-family--normal);
  font-weight: 300;
  font-size: calc(var(--font-size) * 0.85);
  color: var(--color-blue);
  text-transform: none;
}

.header .popup__content .text {
  font-size: calc(var(--font-size) * 0.85);
  text-align: left !important;
}

.header__close-popup,
.footer__close-popup {
  align-self: flex-end;
  width: 20px;
  height: 20px;
  margin-bottom: var(--gap);
  background-image: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.6894 0.321199C13.2753 -0.0929084 12.6064 -0.0929084 12.1923 0.321199L7 5.50284L1.80774 0.31058C1.39363 -0.103527 0.724687 -0.103527 0.31058 0.31058C-0.103527 0.724687 -0.103527 1.39363 0.31058 1.80774L5.50284 7L0.31058 12.1923C-0.103527 12.6064 -0.103527 13.2753 0.31058 13.6894C0.724687 14.1035 1.39363 14.1035 1.80774 13.6894L7 8.49716L12.1923 13.6894C12.6064 14.1035 13.2753 14.1035 13.6894 13.6894C14.1035 13.2753 14.1035 12.6064 13.6894 12.1923L8.49716 7L13.6894 1.80774C14.0929 1.40425 14.0929 0.724687 13.6894 0.321199Z" fill="%232D2C2C"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.dark .header__close-popup,
.dark .footer__close-popup {
  background-image: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.6894 0.321199C13.2753 -0.0929084 12.6064 -0.0929084 12.1923 0.321199L7 5.50284L1.80774 0.31058C1.39363 -0.103527 0.724687 -0.103527 0.31058 0.31058C-0.103527 0.724687 -0.103527 1.39363 0.31058 1.80774L5.50284 7L0.31058 12.1923C-0.103527 12.6064 -0.103527 13.2753 0.31058 13.6894C0.724687 14.1035 1.39363 14.1035 1.80774 13.6894L7 8.49716L12.1923 13.6894C12.6064 14.1035 13.2753 14.1035 13.6894 13.6894C14.1035 13.2753 14.1035 12.6064 13.6894 12.1923L8.49716 7L13.6894 1.80774C14.0929 1.40425 14.0929 0.724687 13.6894 0.321199Z" fill="white"/></svg>');
}

/* POPUP end */

/* overlay */
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 15;
  opacity: 0;
  visibility: hidden;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}

/* DATE SELECT */
.sensors-dateselect input[type="date"] {
  padding: 0.2rem 0.5rem;
  border-width: 2px;
  font: inherit;
}

.sensors-dateselect span {
  display: inline-block;
  color: var(--color-dark);
  vertical-align: middle;
}

.dark .sensors-dateselect span {
  color: var(--color-middle-gray);
}

.sensors-dateselect .sensors-switcher label {
  margin: 0 0.4rem 0 1.2rem;
}

@media screen and (max-width: 1250px) {
  .sensors-panel--bottom {
    align-items: flex-start;
  }

  .sensors-panel--bottom .sensors-switcher {
    display: block;
    margin-top: calc(var(--gap) * 0.5);
  }

  .sensors-dateselect .sensors-switcher label {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .sensors-panel--bottom {
    display: block;
  }

  .sensors-panel--bottom .sensors-panel-section:not(:last-child) {
    margin-bottom: var(--gap);
  }
}
/* end of DATE SELECT */

/* ANIMATION */
@keyframes fadeIn {
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes rolldownLeft {
  to {
    transform: scaleX(0);
  }
}

@keyframes blink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

/* + details popup */
.details-popup {
  position: relative;
}

.details-popup summary::-webkit-details-marker,
.details-popup summary::marker {
  content: "";
  display: none;
}

.details-popup summary {
  cursor: pointer;
}

.details-popup .details-content {
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: calc(100% + 10px);
  max-height: calc(100svh - 100px);
  min-width: min(450px, calc(100vw - (var(--gap) * 8)));
  max-width: calc(100vw - var(--gap) * 8);
  overflow: auto;
  border: 1px solid var(--color-middle-gray);
  background-color: var(--color-light);
  color: var(--color-dark);
}

@media (width < 550px) {
  .details-popup .details-content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    max-width: 100% !important;
    top: 20%;
  }
}

.details-link summary {
  font-weight: 900;
  cursor: pointer;
  color: var(--app-buttoncolor);
}

.details-link[open] summary {
  margin-bottom: var(--gap);
}
/* - details */

/* + basic styles for tables */

table {
  width: 100%;
  border-collapse: collapse;
  --font-size: 1rem;
}

th,
td {
  border: 1px solid var(--app-bordercolor);
  border-top: none;
  border-left: none;
  padding: var(--gap);
  text-align: left;
  word-break: break-word;
  white-space: normal;
}

th {
  vertical-align: top;
}

td {
  vertical-align: middle;
}

tr th:last-child,
tr td:last-child {
  border-right-width: 0px;
}

tbody tr:last-child td,
tfoot tr:last-child td {
  border-bottom-width: 0px;
}

table img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}
/* - basic styles for tables */

/* + popover */
.popover {
  max-height: 80svh;
  overflow-x: auto;
  background-color: var(--color-light);
  color: var(--color-dark);
}

.popover-top-right {
  top: calc(var(--gap) * 2 + var(--app-inputheight));
  right: var(--gap);
  width: 500px;
  max-width: calc(100vw - var(--gap) * 2);
}

@supports not selector(:popover-open) {
  .popover-top-right {
    right: var(--gap) !important;
  }
}

@media screen and (width < 500px) {
  .popover-top-right {
    top: calc(var(--gap) * 3 + var(--app-inputheight));
  }
}
/* - popover */

@media screen and (width < 500px) {
  .narrow-hide {
    display: none;
  }
}
